// Define variables for your color scheme

// For example:
$red: #E53E3E;
$blue: #167FFB;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;
$active-color: #D6D6D6;

// ban colors
$call: #E53E3E;
$grass:  #90be6d;
$star: #e9c46a;
$sky: #3b89aa;
$plum: #8c5383;
