body {
    background: rgb(247,244,244);
    background: linear-gradient(180deg, rgba(247,244,244,1) 37%, rgba(239,239,239,1) 73%, rgba(231,231,231,1) 90%, rgba(218,218,218,0.9925012241224614) 100%);
    height: 100vh;
}
