#login-card {
  background-color: white;
  border-radius: 25px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  overflow: hidden;
  min-width: 180px;
  max-width: 580px;
}
#top-image {
  background-image: url('https://res.cloudinary.com/dj9iphc8u/image/upload/v1600421637/branden_ojvomv.gif');
  background-size: cover;
  background-position: center;
  min-height: 275px;
}
#login-form {
  padding: 15px;
}
#login-form h1{
  font-size: 2.2em;
}
label {
  margin-bottom: 0.2em;
}
input, textarea {
  border-radius: 10px !important;
}

