#register-card {
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  overflow: hidden;
}
#left-image {
  background-image: url('https://res.cloudinary.com/dj9iphc8u/image/upload/v1600371395/ezgif.com-gif-maker_1_furi0j.gif');
  background-size: cover;
  background-position: center;
}
@media only screen and (max-width: 768px) {
  #left-image {
    padding-top: 70%;
  }
}
#right-form {
  padding: 20px;
}
#right-form h1{
  font-size: 2.2em;
}
#user_email, #user_password, #user_password_confirmation, #user_current_password {
  height: 42px;
}
label {
  margin-bottom: 0.2em;
}
input, textarea {
  border-radius: 10px !important;
}
.img-upload {
  padding: 5px;
  border-radius: 10px;
  border: 1px solid #ced4da;
}
.form-group.file {
  margin-bottom: 0;
}
.form-control-file {
  margin-left: 15px;
}

