#main-card {
  background-color: white;
  border-radius: 25px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  margin-right: 10px;
  overflow: hidden;
}

#left-image {
  background-image: url('https://res.cloudinary.com/dj9iphc8u/image/upload/c_scale,w_1015/v1600285315/polaroidville--NV9zA0NqRM-unsplash_1_1_ire2lf.jpg');
  background-size: cover;
  padding-right: 0;
  margin-right: 0;
  background-position: left;
}

#right-form {
  padding: 10px;
}
#right-form h1{
  padding: 10px;
  font-size: 2.2em;
  padding-left: 0;
}
#left-image h1 {
  text-align: right;
  font-size: 9em;

}

#user_description {
  margin-top: 0px;
}
label {
  margin-bottom: 0.2em;
}
input, textarea {
  border-radius: 10px !important;
}
#left-image  img{
  bottom: 25px;
  left: 20px;
  position: absolute;
}
