<div class="container">
	<div class="text-center my-5">
		<h1>Job openings</h1>
		<p>Check out the most recent job openings in Berlin!</p>
	</div>
	<div class="row justify-content-around mb-5">
		<div class="col-12 col-lg-9 white-board px-3">
			<% @openings.each do |opening| %>
      <%= opening.date %>
				<%= link_to opening_path(opening) do %>
					<%= render "shared/card-opening", opening_within: opening %>
				<% end %>
			<% end %>
		</div>
	</div>
</div>
