<div class="container min-vh-100">
	<div class="text-center my-5">
		<h1 class="font-weight-bold">Job openings</h1>
		<p>Check out job openings for architects in Berlin!</p>
	</div>
	<div class="row justify-content-around mb-5">
		<div class="col-12 col-lg-9 px-3">
			<ul class="list-group list-group-flush">
				<% @openings.each do |opening| %>
					<li class="list-group-item">
					<%= link_to opening_path(opening) do %>
						<%= render "shared/card-opening", opening_within: opening %>
					<% end %>
					</li>
				<% end %>
			</ul>
		</div>
	</div>
</div>
