<main class="container min-vh-100">
	<!-- ***************  HEADER OPENINGS  **************** -->
	<header class="text-center my-5">
		<h1 class="font-weight-bold">Job openings</h1>
		<p>Check out job openings for architects in Berlin!</p>
	</header>

	<!-- ***************  OPENINGS  **************** -->
	<section class="row justify-content-center mb-5">
		<div class="col-lg-6 px-3">
			<% @openings.each do |opening| %>
				<%= link_to opening_path(opening) do %>
					<%= render "shared/card-opening", opening_within: opening %>
				<% end %>
			<% end %>
		</div>
	</section>
</main>
