<main class="container min-vh-100">
  <!-- ***************  HEADER JOBS  **************** -->
  <header class="text-center my-5">
    <h1 class="font-weight-bold">Job openings</h1>
    <p>Check out job openings for architects in Berlin!</p>
  </header>

  <!-- ***************  JOBS  **************** -->
  <section class="row justify-content-center mb-5">
    <div class="col-lg-6 px-3">
      <% @jobs.each do |job| %>
        <%= link_to url_for("#{job.url}"), :target => '_blank' do %>
          <%= render "shared/card-job", job_within: job %>
        <% end %>
      <% end %>
    </div>
  </section>
</main>
