<article class="card-list mb-3">
  <!-- ***************  RATINGS INDEX CONTROLLER **************** -->
  <% if office_within.ratings.empty? %>
    <% culture_average = 0 %>
    <% salary_average = 0 %>
    <% architecture_average = 0 %>
  <% else %>
    <% culture_ratings = [] %>
    <% office_within.ratings.each do |rating| %>
      <% culture_ratings << rating.culture %>
    <% end %>
    <% culture_average = (culture_ratings.sum / culture_ratings.size).round %> <!-- CULTURE -->

    <% salary_ratings = [] %>
    <% office_within.ratings.each do |rating| %>
      <% salary_ratings << rating.salary %>
    <% end %>
    <% salary_average = (salary_ratings.sum / salary_ratings.size).round %> <!-- SALARY -->

    <% architecture_ratings = [] %>
    <% office_within.ratings.each do |rating| %>
      <% architecture_ratings << rating.architecture %>
    <% end %>
    <% architecture_average = (architecture_ratings.sum / architecture_ratings.size).round %> <!-- ARCHITECTURE -->
  <% end %>


  <% if office_within.photo.attached? %>
    <%= cl_image_tag(office_within.photo.key, :class => "card-list-img") %>
  <% elsif office_within.banner_url %>
    <%= cl_image_tag(office_within.banner_url, :class => "card-list-img") %>
  <% end %>
  <section class="card-infos w-100">
    <header class="d-flex justify-content-between mb-2">
      <h3 class="corporate"><span class="red">·ban</span>office</h3>
    </header>
    <h2><%= office_within.name %></h2>
    <p><i class="fas fa-map-marker-alt red"></i> <%= office_within.location %></p>
    <!-- ***************  RATINGS  **************** -->
    <section class="row justify-content-between">
      <div class="col-12 col-lg-4">
        <p>
          <% architecture_average.times do %>
            <i class="fas fa-star yellow"></i>
          <% end %>
          <% (5-architecture_average).times do %>
            <i class="fas fa-star light-gray"></i>
          <% end %>
        </p>
      </div>
      <div class="col-12 col-lg-4 d-none d-lg-block">
        <p>
          <% culture_average.times do %>
            <i class="fas fa-heart red"></i>
          <% end %>
          <% (5-culture_average).times do %>
            <i class="fas fa-heart light-gray"></i>
          <% end %>
        </p>
      </div>
      <div class="col-12 col-lg-4 d-none d-lg-block">
        <p>
          <% salary_average.times do %>
            <i class="fas fa-euro-sign green"></i>
          <% end %>
          <% (5-salary_average).times do %>
            <i class="fas fa-euro-sign light-gray"></i>
          <% end %>
        </p>
      </div>
    </section>
  </section>
</article>
