<div class="card-office mb-3">
  <%= cl_image_tag(office_within.banner_url, :class => "card-office-img") %>
  <div class="card-office-infos">
    <div>
  <%   if office_within.ratings.empty? %>
  <%     culture_average = 0 %>
  <%     salary_average = 0 %>
  <%     architecture_average = 0 %>
  <%   else %>
  <%     # Average Ratings for Culture %>
  <%     total = [] %>
  <%     office_within.ratings.each do |rating| %>
  <%       total << rating.culture %>
  <%     end %>
  <%     culture_average = (total.sum / total.size).round %>
  <%     # Average Ratings for Salary %>
  <%     total = [] %>
  <%     office_within.ratings.each do |rating| %>
  <%       total << rating.salary %>
  <%     end %>
  <%     salary_average = (total.sum / total.size).round %>
  <%     # Average Ratings for Architecture %>
  <%     total = [] %>
  <%     office_within.ratings.each do |rating| %>
  <%       total << rating.architecture %>
  <%     end %>
  <%     architecture_average = (total.sum / total.size).round %>
  <%   end %>
      <h2><%= office_within.name %></h2>
      <p><i class="fas fa-map-marker-alt" style="color: #E53E3E"></i> <%= office_within.location %></p>
      <div class="d-flex">
        <% ((architecture_average + salary_average + culture_average) / 3 ).times do %>
          <p><i class="fas fa-star" style="color: #e9c46a"></i></p>
        <% end %>
        <% (5-(architecture_average + salary_average + culture_average) / 3 ).times do %>
          <p><i class="fas fa-star" style="color: lightgray"></i></p>
        <% end %>
      </div>
    </div>
  </div>
</div>
