<div class="card-event">
  <%= cl_image_tag("events/event2", :class => "card-event-img") %>
  <div class="card-event-infos">
    <div>
      <h2>Word Heritage in Berlin</h2>
      <p>Short description here!</p>
    </div>
  </div>
</div>