<div class="card-opening">
  <div class="card-infos w-100">
    <div class="d-flex justify-content-between mb-2">
      <h3 class="corporate"><span class="red">·ban</span>job</h3>
      <h3 class="corporate red"><%= opening_within.date.strftime('%d.%m.%Y') %></h3>
    </div>
    <h2><%= opening_within.job_position %></h2>
    <p>@ <%= opening_within.office.name %></p>
  </div>
</div>
