<% @posts.each do |post| %>
  <div class="card-post mb-3">
    <%= cl_image_tag(post.user.cl_img_tag, :class => "avatar-large") %>
    <div class="card-post-infos">
      <div>
        <h2><%= post.title %></h2>
        <p><%= post.user.first_name %> <%= post.user.last_name %></p>
      </div>
    </div>
  </div>
<% end %>