<div class="card-opening">
  <div class="card-office-infos">
      <h2><%= opening_within.job_position %></h2>
      <p><%= opening_within.office.name %></p>
      <p><i class="fas fa-clock" style="color: gray"></i> <%= opening_within.date.strftime("%d.%m.%Y") %></p>
  </div>
</div>
