      <div class="card-event">
        <%= cl_image_tag(event_within.cl_img_tag, :class => "card-event-img") %>
        <div class="card-event-infos">
          <div>
            <h2><%= event_within.title %></h2>
            <p><i class="fas fa-map-marker-alt" style="color: #E53E3E"></i> <%= event_within.location %></p>
            <p><i class="fas fa-clock" style="color: gray"></i> <%= event_within.date %></p>
          </div>
        </div>
      </div>
