<div class="card-post">
  <%= cl_image_tag(post_within.user.cl_img_tag, :class => "avatar-large") %>
  <div class="card-post-infos">
    <h2><%= post_within.title %></h2>
    <p>Posted by: <%= post_within.user.first_name %> <%= post_within.user.last_name %></p>
  </div>
</div>
