<div class="card-office mb-3">
  <%= cl_image_tag(office_within.banner_url, :class => "card-office-img") %>
  <div class="card-office-infos">
    <div>
      <h2><%= office_within.name %></h2>
      <p><i class="fas fa-map-marker-alt" style="color: #E53E3E"></i> <%= office_within.location %></p>
    </div>
  </div>
</div>
