

<!-- Delete Modal -->
<div class="modal fade background-col" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="deleteModalLabel">Cancelation</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Oh no! So sorry to hear you are not attending <%= @event.title%>. Hope to see you in our next event!
        <img src="https://media.giphy.com/media/2WxWfiavndgcM/giphy.gif" class = "gif" alt="this slowpoke moves"  width="100%" alt="404 image"/>    
      </div>
      <div class="modal-footer">
        <% if @user_attending %>
          <%= link_to "Confirm", rsvp_path(@rsvp), method: :delete, class: "btn btn-call" %>
        <% end %>
          <%= link_to "Stay", event_path(@event), class: "btn btn-call" %>
      </div>
    </div>
  </div>
</div>