<!-- Attend-Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Confirmation</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
      </div>
      <div class="modal-body">
            You are attending the event <%= @event.title%>.
      </div>
      <div class="modal-footer">
            <%= form_tag event_rsvps_path(@event), method: :post do |f| %>
                <%= submit_tag "Close", class: "btn btn-call"%>
            <% end %>
      </div>
    </div>
  </div>
</div>