<footer>
  <%= turbo_frame_tag "localize-footer-about" do %>
    <div class="flex justify-center pt-10 pb-5">
      <p class="text-center lg:w-1/2"><%= t('footer.about_html') %></p>
    </div>
  <% end %>
  <ul class="flex flex-row items-center justify-center">
    <li>
      <a href="https://www.instagram.com/berlin_architectural_network/" aria-label="Check us on Instagram" class="px-3 hover:text-cherry">
        <i class="fa-brands fa-square-instagram"></i>
      </a>
    </li>
    <li>
      <a href="https://www.facebook.com/groups/berlin.architectural.network/" aria-label="Check us on Facebook" class="px-3 hover:text-cherry">
        <i class="fa-brands fa-facebook"></i>
      </a>
    </li>
    <li>
      <a href="https://twitter.com/berlin_ban/" aria-label="Check us on Twitter" class="px-3 hover:text-cherry">
        <i class="fa-brands fa-twitter"></i>
      </a>
    </li>
    <li>
      <a href="https://www.linkedin.com/groups/8934350/" aria-label="Check us on LinkedIn" class="px-3 hover:text-cherry">
        <i class="fa-brands fa-linkedin"></i>
      </a>
    </li>
    <li>
      <a href="mailto:berlinarchnet@gmail.com" aria-label="Send us an email" class="px-3 hover:text-cherry">
        <i class="fa-solid fa-envelope"></i>
      </a>
    </li>
  </ul>
</footer>
