<div class="footer mt-5">
  <div class="row justify-content-around mb-3">
    <div class="col-12 col-lg-4 footer-infos">
      <p><strong>Berlin Architectural Network</strong> was created as a Meetup group in 2017 and has since attracted hundreds of architecture lovers who come together to support each other through collaboration and networked learning.<br><br>We believe in transparency and adding value to the architecture ecosystem.</p>
    </div>
  </div>
  <div class="row justify-content-around">
    <div class="footer-links">
      <a href="https://www.instagram.com/berlin_architectural_network/" target="_blank"><i class="fab fa-instagram"></i></a>
      <a href="https://www.facebook.com/groups/berlin.architectural.network/" target="_blank"><i class="fab fa-facebook"></i></a>
      <a href="https://twitter.com/berlin_ban/" target="_blank"><i class="fab fa-twitter"></i></a>
      <a href="https://www.linkedin.com/groups/8934350/" target="_blank"><i class="fab fa-linkedin"></i></a>
    </div>
  </div>
</div>
