<nav>
  <ul class="flex flex-row justify-end">
    <li><a class="pr-1 text-sm" href="">DE</a></li>
    <li><a class="pl-1 text-sm text-cherry" href="">EN</a></li>
  </ul>
  <div class="flex flex-wrap items-center justify-between mx-auto pb-10">
    <%= link_to root_path do %>
      <div class="w-48 font-tech">
        <p>|</p>
        <p><span class="text-cherry">· b</span>erlin</p>
        <p>| <span class="text-cherry">a</span>rchitectural</p>
        <p>| <span class="text-cherry">n</span>etwork</p>
      </div>
    <% end %>
    <button data-collapse-toggle="navbar-default" type="button" class="inline-flex items-center p-2 w-10 h-10 justify-center text-sm text-gray-500 rounded-lg md:hidden hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200" aria-controls="navbar-default" aria-expanded="false">
      <span class="sr-only">Open main menu</span>
      <svg class="w-5 h-5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 17 14">
        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 1h15M1 7h15M1 13h15"/>
      </svg>
    </button>
    <div class="hidden w-full md:block md:w-auto" id="navbar-default">
      <ul class="font-bold flex flex-col mt-5 md:flex-row md:p-0 md:mt-0">
        <li><a class="block py-2 md:py-0 md:px-3 hover:text-cherry" href="">Events</a></li>
        <li><a class="block py-2 md:py-0 md:px-3 hover:text-cherry" href="">Offices</a></li>
        <li><a class="block py-2 md:py-0 md:px-3 hover:text-cherry" href="">Jobs</a></li>
        <li><a class="block py-2 md:py-0 md:px-3 hover:text-cherry" href="">Posts</a></li>
        <li><a class="block py-2 md:py-0 md:px-3 hover:text-cherry" href="">Community</a></li>
        <li><a class="block py-2 md:py-0 md:pl-3 hover:text-cherry" href="">Login</a></li>
      </ul>
    </div>
  </div>
</nav>
<script>
  document.addEventListener('DOMContentLoaded', function () {
    const toggleButton = document.querySelector('[data-collapse-toggle="navbar-default"]');
    const menu = document.getElementById('navbar-default');

    toggleButton.addEventListener('click', function () {
      menu.classList.toggle('hidden');
    });
  });
</script>
