<div class="overlay-video">
  <video autoplay muted loop id="myVideo">
    <source src="https://res.cloudinary.com/db5jh0zwo/video/upload/v1599042195/ezgif.com-gif-maker_am5cdf.mp4" type="video/mp4">
  </video>
</div>
