<main class="container min-vh-100">
	<!-- ***************  HEADER EVENT  **************** -->
	<header class="row justify-content-center my-5">
		<!-- ***************  INFO  **************** -->
		<section class="col-12 text-center">
			<h1 class="font-weight-bold">Events</h1>
			<p>Check out the lates architecture events in Berlin!</p>
		</section>

		<!-- ***************  CREATE EVENT **************** -->
		<% if user_signed_in? %>
			<section class="col-lg-6">
				<button class="btn btn-attend w-100"><%= link_to "Create event", new_event_path %></button>
			</section>
		<% end %>
	</header>

	<!-- ***************  EVENTS  **************** -->
	<section class="row my-5">
		<% @events.each do |event| %>
			<div class="col-lg-3 mb-5">
				<%= link_to event_path(event) do %>
					<%= render "shared/card-event", event_within: event %>
				<% end %>
			</div>
		<% end %>
	</section>
</main>
