<div class="container">
	<div class="text-center my-5">
		<h1>Events</h1>
		<p>Check out the lates architecture events in Berlin!</p>
	</div>
	<div class="row">
		<% @events.each do |event| %>
			<div class="mb-5">
				<%= link_to event_path(event) do %>
					<%= render "shared/card-event", event_within: event %>
				<% end %>
			</div>
		<% end %>
	</div>		
</div>
