<h1>Events#show</h1>
<p>Find me in app/views/events/show.html.erb</p>

<div class="row">
    <div class="col-12 col-lg-6">
        <p><%= @event.title %></p>
        <p><%= @event.description %></p>
        <p>Date and time:<%= @event.date_time %></p>
  </div>
<<<<<<< HEAD
    </div>
=======
    </div>

>>>>>>> 554399eb5376c9f61be1cf4a7147d3981f2b72a8
