<%= form_with(model: resource, as: resource_name, url: session_path(resource_name), local: true) do |form| %>
  <div class="flex flex-col md:flex-row md:justify-between md:items-center md:border-0 md:border-b md:border-cherry">
    <%= form.email_field :email,
                          required: true,
                          placeholder: "maria@example.com",
                          class: "block w-full border-0 border-b border-gray-500 md:border-0 focus:border-cherry leading-8 focus:ring-0 px-0 placeholder:text-gray-300" %>
    <%= form.password_field :password, 
                            required: true,
                            placeholder: "********", 
                            class: "block w-full border-0 border-b border-gray-500 md:border-0 focus:border-cherry leading-8 px-0 focus:ring-0 px-0 placeholder:text-gray-300" %>
    <%= form.button t('navbar.login'), class: "block w-full bg-cherry px-3 py-1 rounded-sm text-white font-bold mt-6 md:w-auto md:mt-0" %>
  </div>
<% end %>
