<div class="container">
	<div class="text-center my-5">
		<h1>Blog</h1>
		<p>Check out the most recent posts about architecture Berlin!</p>
	</div>
	<div class="row justify-content-around mb-5">
		<div class="col-9 white-board px-3 py-3">
			<%= render "shared/card-post" %>
		</div>
	</div>		
</div>