<div class="container min-vh-100">
	<div class="text-center my-5">
		<h1 class="font-weight-bold">Blog</h1>
		<p>Check out the most recent posts about architecture Berlin!</p>
	</div>
	<div class="row justify-content-around mb-5">
		<div class="col-12 col-lg-9 px-3">
			<ul class="list-group list-group-flush">
				<% @posts.each do |post| %>
				<li class="list-group-item">
					<%= link_to post_path(post) do %>
							<%= render "shared/card-post", post_within: post %>
						<% end %>
					<% end %>
				</li>
			</ul>
		</div>
	</div>		
</div>