// call to action
.btn-call {
  background-color: $call;
  color: white;
  padding: 10px 25px;
  border-radius: 5px !important;
  transition: background 0.5s ease;
}
.btn-call:hover {
  background-color: darken($call, 15%);
  color: white;
  text-decoration: none;
}
// upload and comments
.btn-upload {
  color: $call;
  border: 1px solid $call;
  padding: 10px 25px;
  border-radius: 5px !important;
  transition: background 0.5s ease;
  overflow: hidden;
}
.btn-upload:hover {
  background: $call;
  color: white;
  text-decoration: none;
}
// attend an event
.btn-attend {
  background-color: $grass;
  color: white;
  padding: 10px 25px;
  border-radius: 5px !important;
  transition: background 0.5s ease;
}
.btn-attend:hover {
  background: darken($grass, 15%);
  color: white;
  text-decoration: none;
}
// unattend an event
.btn-delete {
  background-color: darkgray;
  color: white;
  padding: 10px 25px;
  border-radius: 5px !important;
  transition: background 0.5s ease;
}
.btn-delete:hover {
  background: darken(darkgray, 15%);
  color: white;
  text-decoration: none;
}
// sort
.sort-btn {
  background-color: white;
  padding: 10px 15px;
  border-radius: 5px;
  border: 1px solid lightgray;
}
.sort-btn:hover {
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}
// link im text
p.link {
  color: $call;
}
p.link:hover {
  text-decoration: underline;
  color: $call;
}
