.card-opening {
  overflow: hidden;
  height: 120px;
  display: flex;
  align-items: center;
  border-radius: 3px;
  transition: all 0.3s ease;
}
.card-opening h1 {
  font-size: 16px;
  font-weight: bold;
}
.card-opening h3 {
  font-size: 14px;
}
.card-opening p {
  font-size: 12px;
  opacity: .75;
  margin-bottom: 0;
  margin-top: 8px;
}
.card-opening-infos {
  padding: 15px;
}
.card-opening:hover {
  background-color: rgb(245, 245, 245);
}