// Card
.chatroom-card {
  background: white; 
  box-shadow: 0 0 15px rgba(0,0,0,0.2); 
  min-height: 600px; 
  border-radius: 5px
}
// Chats index
.chat-card {
  display: flex;
}
.chat-card p {
  font-size: 14px;
  opacity: .75;
  font-weight: 300;
}
// Chats index link behaviour
.list-group-item {
  border-bottom: 1px solid lightgray;
  border-top: 0;
  border-right: 0;
  border-left: 0;
  padding: 1rem;
  height: 80px;
  overflow: hidden;
  transition: background 0.5s ease;
}
.list-group-item:hover {
  border-bottom: 1px solid lightgray;
  border-top: 0;
  border-right: 0;
  border-left: 0;
  padding: 1rem;
  background-color: lighten(lightgray, 12%);
}
.list-group-item.active {
  border-bottom: 1px solid lightgray;
  border-top: 0;
  border-right: 0;
  border-left: 0;
  padding: 1rem;
  background-color: lightgray;
  color: black;
  margin-top: 0 !important;
}
// Messages 
.message-text-out {
  display: flex;
  flex-direction: row-reverse;
  align-items: flex-start;
  margin: 1.5rem 0;
    p {
      padding: 8px 24px;
      border-radius: 5px 0 5px 5px;
      background-color: $call;
      color: white;
      max-width: 465px;
      margin-bottom: 0;
    }
}
.message-text-in {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  margin: 1.5rem 0;
    p {
      padding: 8px 24px;
      border-radius: 0 5px 5px 5px;
      background-color:lightgray;
      color: black;
      max-width: 465px;
      margin-bottom: 0;
      margin-left: .5rem;
    }
}
.chat-datetime-out {
  display: flex;
  justify-content: center;
  font-size: 12px;
  opacity: .75;
}
.chat-datetime-in {
  display: flex;
  justify-content: center;
  font-size: 12px;
  opacity: .75;
}
// containers
#messages {
  padding: 1rem;
  overflow-y: auto;
  height: calc(96vh - 66px - 65px - 71px);
  background-image: linear-gradient(339deg, rgba(47, 47, 47,0.02) 0%, rgba(47, 47, 47,0.02) 42%,transparent 42%, transparent 99%,rgba(17, 17, 17,0.02) 99%, rgba(17, 17, 17,0.02) 100%),linear-gradient(257deg, rgba(65, 65, 65,0.02) 0%, rgba(65, 65, 65,0.02) 11%,transparent 11%, transparent 92%,rgba(53, 53, 53,0.02) 92%, rgba(53, 53, 53,0.02) 100%),linear-gradient(191deg, rgba(5, 5, 5,0.02) 0%, rgba(5, 5, 5,0.02) 1%,transparent 1%, transparent 45%,rgba(19, 19, 19,0.02) 45%, rgba(19, 19, 19,0.02) 100%),linear-gradient(29deg, rgba(28, 28, 28,0.02) 0%, rgba(28, 28, 28,0.02) 33%,transparent 33%, transparent 40%,rgba(220, 220, 220,0.02) 40%, rgba(220, 220, 220,0.02) 100%),linear-gradient(90deg, rgb(255,255,255),rgb(255,255,255));
}
// .message-avatar {
//   display: flex;
//   margin: 1.5rem 0;
// }
textarea.form-control {
  height: 46px;
}