.messages-hd {
  float: left;
  border-bottom: 1px solid #D6D6D6;
  width: 100%;
  vertical-align: middle;
  background-color: #FFFFFF;
  height: 50px;
  border-radius: 6px 0px 0px 0px;
}

.messages-hd h3 {
  color: #000000;
  font-weight: bold;
  font-size: 24px;
  margin-left: 23px;
  line-height: 50px;
  border-radius: 6px 0px 0px 0px;
}

.convo-container {
  flex-direction: column;
  align-self: stretch;
  border-right: 1px solid #D6D6D6;
  height: 100%;
  display: flex;
  max-width: 300px;
  background-color: #FFFFFF;
  // max-height: 80px;
  border-radius: 6px 0px 0px 6px;
}

.inbox-chat {
  overflow: hidden;
  cursor: pointer;
}

.main-messages-container {
  flex-grow: 1;
  padding: 16px;
  display: flex;
  flex-direction:column;
}

.messages-container {
  flex-grow: 1;
  padding: 16px 0;
  display: flex;
  overflow-x: hidden;
  flex-direction: column;
}

.chat-datetime-out {
  display: flex;
  font-size: 12px;
  // margin: 8px 0 0;
  color: #484348;
  // flex-direction: row-reverse;
  justify-content: center;
}

.chat-datetime-in {
  display: flex;
  font-size: 12px;
  // margin: 8px 0 0;
  color: #484348;
  margin: auto;
}


#message- {
  display: flex;
  align-items: flex-start;
}

#messages {
  padding: 0 1rem;
  padding-top: 1rem;
  overflow: scroll;
  height: calc(96vh - 66px - 65px - 71px);
  // background-color: #FFFFFF;
  // background-image: repeating-linear-gradient(67.5deg, hsla(145,0%,97%,0.2) 0px, hsla(145,0%,97%,0.2) 0px,transparent 0px, transparent 1px,hsla(145,0%,97%,0.2) 1px, hsla(145,0%,97%,0.2) 4px,transparent 4px, transparent 5px,hsla(145,0%,97%,0.2) 5px, hsla(145,0%,97%,0.2) 8px),repeating-linear-gradient(0deg, hsla(145,0%,97%,0.2) 0px, hsla(145,0%,97%,0.2) 0px,transparent 0px, transparent 1px,hsla(145,0%,97%,0.2) 1px, hsla(145,0%,97%,0.2) 4px,transparent 4px, transparent 5px,hsla(145,0%,97%,0.2) 5px, hsla(145,0%,97%,0.2) 8px),linear-gradient(135deg, rgb(237, 237, 237),rgb(199, 199, 199));
  background-image: linear-gradient(339deg, rgba(47, 47, 47,0.02) 0%, rgba(47, 47, 47,0.02) 42%,transparent 42%, transparent 99%,rgba(17, 17, 17,0.02) 99%, rgba(17, 17, 17,0.02) 100%),linear-gradient(257deg, rgba(65, 65, 65,0.02) 0%, rgba(65, 65, 65,0.02) 11%,transparent 11%, transparent 92%,rgba(53, 53, 53,0.02) 92%, rgba(53, 53, 53,0.02) 100%),linear-gradient(191deg, rgba(5, 5, 5,0.02) 0%, rgba(5, 5, 5,0.02) 1%,transparent 1%, transparent 45%,rgba(19, 19, 19,0.02) 45%, rgba(19, 19, 19,0.02) 100%),linear-gradient(29deg, rgba(28, 28, 28,0.02) 0%, rgba(28, 28, 28,0.02) 33%,transparent 33%, transparent 40%,rgba(220, 220, 220,0.02) 40%, rgba(220, 220, 220,0.02) 100%),linear-gradient(90deg, rgb(255,255,255),rgb(255,255,255));
  border-radius: 0px 6px 0px 0px;
}

.message-text-out {
  display: flex;
  flex-direction: row-reverse;

    p {
      border: 1px solid black;
      padding: 5px;
      text-align: right;
      border-radius: 15px;
      // border-color: #9BC53D;
      border-color: transparent;
      // border-color: #226F54;
      // background-color: #226F54;
      // background-color: #9BC53D;
      background-color: #B40421;
      color: white;
    }
}

.message-text-in {
  // color: #ffffff;
  display: flex;
  flex-direction: row;
  margin-left: 10px;
  margin-top: 5px;

  p {
      padding: 5px;
      text-align: left;
      border-radius: 15px;
      border-color: #B8B8B8;
      background-color: #B8B8B8;
      color: white;
    }
}


.message-text-inbox {
  padding-left: 58px;
  font-weight: lighter;
  max-width: 180px;
  max-height: 25px;
  overflow: hidden;
}

.message-avatar {
  display: flex;
}

.chat-card {
  display: flex;
  align-items: center;
  font-weight: bold;
}

.form- {
  overflow: hidden;
  border-top: 1px solid #D6D6D6;
  // border-bottom: 1px solid #000000;
  width: 100%;
  // background-color: #D6D6D6;
  background-color: #FFFFFF;
  // clear: both;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 0px 0px 6px 0px;
}

.btn-message {
  background-color: black;
  color: white;
  padding: 5px;
  height: 35px;
  width: 90px;
  border-radius: 4px;
  border: 1px solid black;
  transition: background 0.3s ease;
  float: right;
  margin-bottom: 4px;
  margin-right: 12px;
  margin-top: 4px;

    &:hover {
  background-color: #1F1F1F;
  color: white;
  text-decoration: none;
  }
}

.chat-listing {
  background-color: #FFFFFF;
  // border-bottom: 1px solid #D6D6D6!important;
  max-height: 80px;
  // border-top: 1px solid #D6D6D6!important;
}

.active .chat-listing:hover {
  background-color: #1F1F1F;
  color: white;
}

.list-group-item.active {
  background-color: #D6D6D6 !important;
  color: black !important;
  border-color:  #D6D6D6 !important;
  border-bottom: 1px solid #D6D6D6!important;
  border-top: 1px solid #D6D6D6!important;
}

.text-date {
  margin-left: 50%;
  // float: right;
}

.chat-input {
  // width: 100%;
  // background-color: #D6D6D6;
  // background-color: #FFFFFF;
  padding: 0 1rem;
  margin-top: 3px;
  width: 300px;
  border-color: white !important;

    &:focus {
      outline: 0;
      // background-color: #D6D6D6;
      background-color: #FFFFFF;
    }
}

// input:focus,
// select:focus,
// textarea:focus,
// button:focus {
//     outline: none !important;
// }

.form-control:focus {
  border: none !important;
  box-shadow: none !important;
}

textarea.form-control {
  width: 580px;
  margin-top: 1rem !important;
}
