.messages-hd {
  float: left;
  border-bottom: 1px solid #000000;
  width: 100%;
  vertical-align: middle;
  background-color: #000000;
}

.messages-hd h3 {
  color: #f4f4f4;
  font-weight: bold;
  font-size: 24px;
  margin-left: 5px;
  vertical-align: middle;
}

.convo-container {
  flex-direction: column;
  align-self: stretch;
  border-right: 1px solid #000000;
  height: 100%;
  display: flex;
}

.inbox-chat {
  overflow: scroll;
}


.main-messages-container {
  flex-grow: 1;
  padding: 16px;
  display: flex;
  flex-direction:column;
}

.messages-container {
  flex-grow: 1;
  padding: 16px 0;
  display: flex;
  overflow: hidden;
  flex-direction: column;
}

.chat-datetime {
  display: block;
  font-size: 12px;
  // margin: 8px 0 0;
  color: #484348;
}


#message- {
  display: flex;
  align-items: flex-start;
}

#messages {
  padding: 0 1rem;
  padding-top: 1rem;
  overflow: scroll;
  max-height: calc(100vh - 66px - 65px - 71px);
}

.message-text {
  flex-grow: 1;
  padding-left: 58px;
}

.message-text-inbox {
  padding-left: 78px;
  font-weight: lighter;
}

.message-avatar {
  font-weight: bold;
  font-size: 18px;
}

.chat-card {
  display: flex;
  align-items: center;
  font-weight: bold;
}

.form- {
  overflow: hidden;
  border-top: 1px solid #000000;
  border-bottom: 1px solid #000000;
  width: 100%;
}

.btn-message {
  background-color: black;
  color: white;
  padding: 8px 24px;
  border-radius: 4px;
  border: 1px solid black;
  transition: background 0.3s ease;
  float: right;
  margin-bottom: 8px;
  margin-right: 8px;
}

.btn-message:hover {
  background-color: #1F1F1F;
  color: white;
  text-decoration: none;
}
