.card-comment {
  overflow: hidden;
  display: flex;
  align-items: center;
  border-radius: 3px;
  background-color: white;
}
.card-comment p {
  font-size: 12px;
  opacity: .75;
  margin-bottom: 0;
  margin-top: 3px;
}
.card-comment-infos {
  padding: 16px;
}

  