.footer {
    background: black;
    padding: 25px 50px;
    color: rgba(0,0,0,0.3);
  }
  .footer-infos {
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 14px;
  }
  .footer-links a {
    color: white;
    opacity: 0.75;
    text-decoration: none;
    font-size: 24px;
    padding: 0px 10px;
    transition: background 0.3s ease;
  }
  .footer-links a:hover {
    opacity: 1;
  }
  .footer .fa-heart {
    color: #D23333;
  }
  