.footer {
    background: black;
    height: 50px;
    padding: 0px 50px;
    color: rgba(0,0,0,0.3);
    align-items: center;
    display: flex;
    align-items: center;
    justify-content: center;
    // line-height: 50px;
    // position: fixed;
    // width: 100%;
  }
  .footer-links a {
    color: white;
    text-decoration: none;
    font-size: 24px;
    padding: 0px 10px;
    transition: background 0.3s ease;
  }
  .footer-links a:hover {
    opacity: 0.25;
  }
  .footer .fa-heart {
    color: #D23333;
  }
