.corporate {
	font-family: 'Share Tech Mono', monospace;
}
.red {
  color: $call;
}
.green {
  color: $hello;
}
.yellow {
  color: $star;
}
.blue {
  color: $tag;
}
.gray {
  color: darkgray;
}
.light-gray {
	color: lightgray;
}