.navbar-ban {
  background-color: black;
}

.navbar-ban .nav-link-menu {
  color: white;
  opacity: 0.75;
  display: block;
  padding: 0.5rem 1rem;
  z-index: 1;
  transition: background 0.3s ease;
}

.navbar-ban .nav-link-menu:hover {
  text-decoration: none;
  opacity: 1;  
}
