.searchbar {
    margin-bottom: 10px;
    display: flex;
    align-items: flex-start;
    border-radius: 3px;
    object-fit: cover;
    box-sizing: border-box;
}

#query {
    margin-right: 10px;
    border: 1px solid lightgray;
}