.corporate {
	font-family: 'Share Tech Mono', monospace;
}
.red {
  color: $call;
}
.green {
  color: $grass;
}
.yellow {
  color: $star;
}
.blue {
  color: $sky;
}
.purple {
  color: $plum;
}
.gray {
  color: darkgray;
}
.light-gray {
	color: lightgray;
}