//= require actiontext

// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import 'mapbox-gl/dist/mapbox-gl';
@import "bootstrap/scss/bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";


body:not(#chatroom) {
    padding-top: 40px;
    background: rgb(247,244,244);
    background: linear-gradient(180deg, rgba(247,244,244,1) 37%, rgba(239,239,239,1) 73%, rgba(231,231,231,1) 90%, rgba(218,218,218,0.9925012241224614) 100%);
    height: 100%;
}
